<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612115892689-a48528u18b24i51hmlusjgeb2un1qiup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612115892689-a48528u18b24i51hmlusjgeb2un1qiup</string>
	<key>API_KEY</key>
	<string>AIzaSyCRp0KBr9y143ybdbNiq4LoCZ9FR3oftX4</string>
	<key>GCM_SENDER_ID</key>
	<string>612115892689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hipstu.NyamNyam</string>
	<key>PROJECT_ID</key>
	<string>haksik-e3b46</string>
	<key>STORAGE_BUCKET</key>
	<string>haksik-e3b46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612115892689:ios:6de17582ab8571a70f78f0</string>
</dict>
</plist>